<% provide(:title, "About") %>
<h1>About us</h1>

<div class="container-2">
  <p>
    The purpose of this application is to provide users a platform to upload and view Point Cloud files on.

    <br><br>By using our mobile application to control a robot or drone, we are able to capture Point Cloud scans of a particular area. The scan is then sent to the web application (here) where it is stored in our database.

    <br><br>Once the file is stored in our database, the user will have option to view the file in the browser.

    <br><br>The project was first thought of for our group project at UNB for CS2043: Software Engineering 1.
  </p>
</div>
