<% provide(:title, "Help") %>
<h1>Help</h1>

<div class="container-2">
<p>
  If you are new to this web application, here is a quick rundown for what it is used for:

  <ul>
  	<li>Point Cloud file storage</li>
  	<li>Point Cloud rendering</li>
  </ul>

  Simply create an account if you haven't already by going to the home screen and clicking the sign up button!

  <br><br>Once your account has been created, you will be automatically logged into your profile. You should notice that there is a new tab on the top navigation bar labeled "Library".

  <br><br>If you click on the Library tab, you will be brought to our Point Cloud library which shows an index of all the Point Cloud files you've uploaded. You have the option to either upload new Point Cloud files by clicking the upload button or you can choose to delete existing files by clicking the delete button.
</p>
</div>