<% provide(:title, "Home") %>
<div class="center jumbotron">
  <%= image_tag("PCTech_logo.png", :size => "500x92") %>

  <h2>
    This is the home page for the PCTech Web Application
  </h2>
<% if !logged_in? %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<% else %>
  <h2>Welcome!</h2>
<% end %>
</div>
